Creative Commons Zero v1.0 Universal

To the extent possible under law, the person who associated CC0 with this work has
waived all copyright and related or neighboring rights to this work.

This work is published from: United States.

Legal Code:

CC0 1.0 Universal

CREATIVE COMMONS CORPORATION IS NOT A LAW FIRM AND DOES NOT PROVIDE LEGAL SERVICES.
DISTRIBUTION OF THIS DOCUMENT DOES NOT CREATE AN ATTORNEY-CLIENT RELATIONSHIP.
CREATIVE COMMONS PROVIDES THIS INFORMATION ON AN "AS-IS" BASIS. CREATIVE COMMONS MAKES
NO WARRANTIES REGARDING THE USE OF THIS DOCUMENT OR THE INFORMATION OR WORKS PROVIDED
HEREUNDER, AND DISCLAIMS LIABILITY FOR DAMAGES RESULTING FROM THE USE OF THIS DOCUMENT
OR THE INFORMATION OR WORKS PROVIDED HEREUNDER.

Statement of Purpose

The laws of most jurisdictions throughout the world automatically confer exclusive
Copyright and Related Rights (defined below) upon the creator and subsequent owner(s)
of each work of authorship.

Some jurisdictions provide for certain waivers of copyright and related rights. These
waivers allow the work to be used, reproduced, modified, and distributed without
paying royalties or other compensation to the original author or subsequent owner(s).

By choosing to use one of these waivers, the public has decided to exercise the
non-exclusively reserved rights to use, reproduce, modify, and distribute the work,
even if the original author or subsequent owner objects to such use.

The intent of this waiver is to allow the work to be used, reproduced, modified, and
distributed as freely as possible by the public for any purpose, including commercial
purposes, subject only to proper attribution and fair use limitations.

We, the undersigned, to the extent possible under law, hereby irrevocably waive all
copyright and related or neighboring rights to the work:

Work: {{ project_name }}
Author: {{ author_name }}
Year: {{ current_year }}

This waiver extends to all uses of the work, in any medium, and to all future
non-copyright uses of the work. This waiver is irrevocable and will not be revoked
or modified in any way.

You may use, reproduce, modify, and distribute the work, in any medium, for any
purpose, including commercial purposes, without paying any royalties or other
compensation to the original author or subsequent owner(s), subject only to proper
attribution and fair use limitations as recognized in your jurisdiction.

For more information, see https://creativecommons.org/publicdomain/zero/1.0/
