PROPRIETARY LICENSE

Copyright (c) 2026 {{ author_name }}. All rights reserved.

This software and all associated documentation are proprietary and
confidential. They are made available strictly for evaluation and
internal use by the licensee. Unauthorized copying, distribution,
modification, or use of these materials, in whole or in part, by any
means, is strictly prohibited.

TERMS AND CONDITIONS

1. Evaluation Use Only

   This software is provided to You solely for evaluation purposes
   and may not be used in any commercial product, service, or offering.
   Any use of this software for production purposes is expressly
   prohibited without prior written consent from the copyright holder.

2. No Warranty

   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
   EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
   OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
   NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS
   BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN
   AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF
   OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
   IN THE SOFTWARE.

3. Confidentiality

   You agree to maintain the confidentiality of this software and
   associated documentation and to not disclose them to any third party
   without prior written consent from the copyright holder.

4. No Transfer

   You may not rent, lease, lend, sublicense, or transfer this software
   or associated documentation to any third party without prior written
   consent from the copyright holder.

5. Termination

   This license is effective until terminated. It will terminate
   automatically without notice if You fail to comply with any provision
   of this license. Upon termination, You must destroy all copies of
   this software and associated documentation in Your possession.

For licensing inquiries, contact: {{ author_email }}
